
<%
    if(typeof error_message !== 'undefined'){
        %>
           <p style="color: red;"><%= error_message%></p>
        <%
    }
%>

<form action="" method="POST">
    <input type="hidden" name="user_id" value="<%= user.id %>">
    <input type="hidden" name="email" value="<%= user.email %>">
    <input type="password" name="password" required placeholder="New password">
    <br><br>
    <input type="password" name="confirm_password" required placeholder="Confirm password">
    <br><br>
    <input type="submit" value="Reset Password">
</form>